@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Megrim&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #593920;
}
.nav-logo {
  display: flex;
}
.nav-logo img {
  height: 60px;
  width:60px;
}
#multi{
  display: flex;
}
#imagenes{
  width: 30%;
  height: 600px;
  overflow-y: scroll;
}
#imagenes img{
  width: 80%;
  border-radius: 20px;  
}
img{
  width: 100%;
}
#mapa {
    height: 600px;
    /* The height is 400 pixels */
    width: 70%;
    /* The width is the width of the web page */
  }



.opciones button{
  border: none;
  background-color: #9b9b9b;
  font-family: "Poppins", sans-serif;
  color: white;
  border-radius: 8px;
  padding: 8px;
}
button{
  border: none;
  background-color: none;
}
.boton{
  padding: 10px;
  margin: 10px;
  background: #7cc67b;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
}
.titulo1 {
  font-family: "Megrim", cursive;
  font-weight: 500;
  font-size: 4vw;
  color: #593920;
}
section {
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5%;
}
form{
  width: 100%;
}
.opciones {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; 
}

#departamento, #fechas{
  font-family: 'Poppins';
  /* width: 100%; */
  margin: 1%;
  border-radius: 2.5vw;
  font-size: 100%;
  z-index: 1;
  width: 30%;
  color:#414141;
  font-weight: bold;
  padding: 8px;
}
footer {
  background-color: #ffffb5;
  margin-top: auto;
}

.footer {
  padding: 30px 0;
  display: flex;
  justify-content: space-evenly;
  border-bottom: solid 1px #593920;
}

.footer div {
  font-family: "Forum", cursive;
  width: 180px;
}

.integrantes {
  margin: 10px 0;
  list-style: none;
  font-family: "Forum", cursive;
  color: #593920;
}

.redes a img {
  background-color: white;
  padding: 5px;
  margin: 5px 10px;
  border: none;
  border-radius: 10px;
  width: 20px;
}

.redes a img:hover {
  background-color: #7bc67b;
}

.footer-datos {
  list-style: none;
  margin: 10px 0;
}

.footer-datos a {
  color: #593920;
  text-decoration: none;
}

footer p {
  margin-top: 30px;
  color: #593920;
  text-align: center;
}




/* The popup form - hidden by default */
.info {
  display: none;
  position: absolute;
  bottom: 0;
  /* right: 15px; */
  border: 3px solid #f1f1f1;
  z-index: 9;
  width: 50%;
  height: 70%;
  background-color: gray;
}
.info button{
  width: 50px;
  height: 50px;
}
.imagen {
  width: 45%;
}

.imagen img {
  width: 100%;
}

.cabecera {
  display: flex;
}

.infocabecera {
  display: block;
  width: 45%;
}

.descripciones {
  width: 100%;
  display: flex;
}

.Animal {
  width: 50%;
}

.hechos {
  width: 50%;
}