@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Megrim&display=swap");
* {
  padding: 0;
  margin: 0;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Estilo de cabecera */
header {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #593920;
}
.nav-logo {
  display: flex;
}
.nav-logo img {
  height: 60px;
}
/* */

.boton {
  padding: 10px;
  margin: 10px;
  background: #7cc67b;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
}

.slider{
  padding: 10vh 0 10vh 0;
}

section{

    padding-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    color:#593920;
}
section .boton{
  font-size: 5vh;
  padding: 2vh 5vh 2vh 5vh;
}

section .boton:hover{
  background: #689568;
  color: white;
  cursor: pointer;
}
section h1 {
  font-weight: 500;
  font-size: 3.8vw;
  color: #593920;
  padding: 6vh
}

section p{
<<<<<<< HEAD:Desarrollo/Salvame/estilos/estiloIU-03.css
  width: 73vw;
  font-size: 2vw;
  background-color: #ffffb5;
  text-align: center;
  padding: 5vh;
  border-radius: 20px;
=======
    font-size: 1.5vw;
    text-align: center;
>>>>>>> main:Desarrollo/Salvame/Implementación/estilos/estiloIU-03.css
}

/* slider*/
.cuadro{
  height: 13.5vw;
}

.cuadro img{
  height: 100%;
  object-fit: fill;
  border-radius: 15px;
}

.slick-dots {
  text-align: center;
  margin: 0 0 10px 0;
  padding: 0;
}
.slick-dots li {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
}
.slick-dots li.slick-active button {
  background-color: black;
}
.slick-dots li button {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: #999;
  border: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.slick-dots li :hover {
  background-color: black;
}



/* Custom Arrow */
.anterior {
  color: #999;
  position: absolute;
  top: 38%;
  left: -2em;
  font-size: 1.5em;
}
.anterior :hover {
  cursor: pointer;
  color: black;
}

.siguiente {
  color: #999;
  position: absolute;
  top: 38%;
  right: -2em;
  font-size: 1.5em;
}
.siguiente :hover {
  cursor: pointer;
  color: black;
}

@media screen and (max-width: 800px) {
  .siguiente {
    display: none !important;
  }
}


/* Footer */
footer {
    background-color: #ffffb5;
    margin-top: 5vh;
  }
  .footer {
    padding: 30px 0;
    display: flex;
    justify-content: space-evenly;
    border-bottom: solid 1px #593920;
  }
  .footer div {
    font-family: "Forum", cursive;
    width: 180px;
  }
  .integrantes {
    margin: 10px 0;
    list-style: none;
    font-family: "Forum", cursive;
    color: #593920;
  }
  
  .redes a img {
    background-color: white;
    padding: 5px;
    margin: 5px 10px;
    border: none;
    border-radius: 10px;
  }
  .redes a img:hover {
    background-color: #7bc67b;
  }
  
  .footer-datos {
    list-style: none;
    margin: 10px 0;
  }
  .footer-datos a {
    color: #593920;
    text-decoration: none;
  }
  
  footer p {
    margin-top: 30px;
    color: #593920;
    text-align: center;
  }